
.send-button{
  background-color: rgb(25,135,84);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.input{
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}

.Chat-input-container{
  display:flex;
  margin-bottom: 15px;
}