.chatMessage-robot{
  display: flex;
  justify-content: start;
  align-items: start;
}

.chatMessage-user{
  display: flex;
  justify-content: end;
  align-items: start;
}

.messages{
  background-color: rgb(238,238,238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right : 10px;
  margin-bottom : 20px;
  max-width: 300px;
}

.message-profile{
  width: 45px; 
}

img{
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}

.messageTime{
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}