
.app-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;


  height: 90vh;
  display: flex;
  flex-direction: column;
}




.textbox-switcher-container{
  display: flex;
  justify-content: center;
  padding: 0%;
}


.textbox-switcher{
  cursor: pointer;
  color: rgb(25,135,84);
}
